/* 기본 CSS */
* {
  outline: none;
  background-repeat: no-repeat;
  font-family: inherit;
  box-sizing: inherit;
  font-weight: bold;
}

html, body {
  width: 100%;
  font-size: 14px;
  color: black;
  word-break: normal;
  overflow-wrap: break-word;
}

html {
  display: block;
  box-sizing: border-box;
  cursor: default;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#root {
  background-color: white;
  min-height: 100%;
  min-width: 100%;
}

div.RootWrapper {
  position: relative;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

div {
  display: block;
}

/* header 및 자식 태그들 css */
header, section {
  display: block;
  font-family: 'SUIT', sans-serif;
}

header.NavBar-wrapper {
  width: 100%;
  border-bottom: 1px solid rgb(238, 238, 238);
  z-index: 300;
}

section.NavBar-TopNavContainer {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 32px;
  background-color: rgb(244, 244, 244);
}

div.NavBar-TopNavMenuWrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  max-width: 768px;
  width: 100%;
  padding: 6px 20px;
}

div.NavBar-TopNavMenu {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.NavBar-TopNavMenu a {
  margin-left: 20px;
}

.NavBar-TopNavMenu a:first-child {
  margin-left: 0px;
}

a {
  color: inherit;
  text-decoration: none;
  touch-action: manipulation;
  background-color: transparent;
  cursor: pointer;
}

a.TopNavMenu-A, a.MainNavMenu-A {
  min-height: 1px;
}

div.TopNavMenu-Text {
  color: rgb(119, 119, 119);
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.3px;
  font-weight: bold;
}

section.NavBar-MainNavContainer {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

div.NavBar-MainNavMenuWrapper {
  position: relative;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 768px;
  width: 100%;
  padding: 22px 20px 8px;
}

div.NavBar-MainNavLeft {
  display: flex;
  width: 100%;
}

div.MainNavLeft-Category {
  width: 48px;
  height: 51px;
}

div.IconWrapper {
  display: flex;
  align-items: flex-end;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 34px;
}

img {
  border-style: none;
  overflow-clip-margin: content-box;
  overflow: clip;
  vertical-align: middle;
}

span.MainNav {
  display: block;
  margin-top: 3px;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.3px;
  text-align: center;
  color: rgb(170, 170, 170);
}

span.MainNav-Pipe {
  width: 1px;
  height: 38px;
  background-color: rgb(238, 238, 238);
  margin-top: 10px;
  margin-left: 20px;
  display: inline-block;
}

img.MainNav-Logo {
  margin: 17px 0px 17px 20px;
  width: 68px;
  height: 24px;
}

div.MainNav-SearchWrapper {
  height: 38px;
  padding: 0px 14px;
  margin-top: 10px;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}

div.SearchWrapper {
  width: 100%;
}

form {
  display: block;
  margin-top: 0em;
}

form.SearchForm {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 38px;
  padding: 0px 12px;
  border-radius: 19px;
  background-color: rgb(244, 244, 244);
  border: none;
}

img.SearchBar-Icon {
  margin-right: 5px;
  user-select: none;
}

input.SearchInput {
  width: 100%;
  color: rgb(51, 51, 51);
  height: 24px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  overflow: visible;
  background-color: transparent;
  border-style: none;
  margin: 0;
  touch-action: manipulation;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-rtl-ordering: logical;
  cursor: text;
  border-width: 2px;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

input::placeholder {
  color:rgb(200, 200, 200);
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
  padding: 1px 2px;
  writing-mode: horizontal-tb;
}

div.NavBar-MainNavRight {
  display: flex;
  width: 168px;
}

div.MainNavRight-Community, div.MainNavRight-Wishlist,
div.MainNavRight-Mypage {
  width: 48px;
  height: 51px;
}

div.PageWrapper{
  display: flex;
    flex-flow: column;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}

div.Fade_Wrapper{
  width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    min-width: 0px;
    min-height: 1px;
}

.detailPage_Header{
  border-bottom: 1px solid rgb(238, 238, 238);
    padding: 20px 0px;
}

.detailPage_Wrapper{
  padding: 0px;
}

.detailPage_Title{
  display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;

}

.detailPageContent_Wrapper{
  padding: 0px;
}

.detailContent_wrapper{
  padding: 30px 0px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.detailContent_Header{
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.detailContent_Body{
  display: inline-block;
}

.detailContent_LikeButton{
  height: 24px;
  text-align: left;
}

.detailContent_ImageWrapper{
  display: flex;
    margin-top: 22px;
    overflow: auto;
}

.detailContent_ProfileImageWrapper{
  flex: 0 0 auto;
  margin-right: 14px;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  overflow: hidden;
}

.detailContent_Header > div:last-child{
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}

.Image_Wrapper{
  min-height: 1px;
}

.Fade_Wrapper{
  width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    min-width: 0px;
    min-height: 1px;
}

.Image_Default{
  width: 100%;
    border-radius: 5px;
}

.detailContent_Name{
  font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 10px;
}

.detailContent_Row{
  display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.detailContent_Created{
  line-height: 10px;
  color: rgb(155, 155, 155);
  font-size: 10px;
}

.detailContent_Title{
  margin-bottom: 10px;
    line-height: 22px;
    font-size: 20px;
}

.like_Button{
  width: auto;
    height: auto;
    line-height: 10px;
    padding: 0px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(85, 85, 85);
    font-size: 10px;
    border: none;
}

.like_Button_Icon{
  margin-left: 2px;
}

img {
  border-style: none;
}

.Image_StyledWrapper{
  -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.Image_StyledImage{
  display: initial;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img{
  vertical-align: middle;
}

.like_Button > *{
  vertical-align: bottom;
}

.like_ButtonOn{
  width: auto;
    height: auto;
    line-height: 10px;
    padding: 0px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(51, 151, 255);
    font-size: 10px;
    border: none;
}

.like_ButtonOn > *{
  vertical-align: bottom;
}

button.ButtonWrite{
  width: 210px;
    height: 50px;
    line-height: normal;
    padding: 0px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    font-size: 14px;
}

.button_Wrapper{
  display: flex;
    -webkit-box-pack: justify;
    justify-content: flex-end; 
    -webkit-box-align: center;
    align-items: center;
    margin-top: 10px;
    text-align: right;

}

.comment_Wrapper{
  margin-top: 22px;
}


.commentInner_Wrapper > div:last-child{
  margin-bottom: 0px;
}

.commentInner_Wrapper{
  width: 100%;
    line-height: 22px;
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(249, 249, 249);
    font-size: 12px;
}

.commentInner_Author{
  display: flex;
    margin-bottom: 20px;
}

.Image_StyledLoader{
  display: none !important;
}

.comment{
  width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    min-width: 0px;
    min-height: 1px;
    position: relative;
}

.InnerCard_Body{
  white-space: pre-wrap;
}

element.style {
  opacity: 1;
  display: block;
}

.commentInner_ImageWrapper{
  flex: 0 0 auto;
    margin-right: 14px;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    overflow: hidden;
}

.InnerCard_Label{
  margin-bottom: 10px;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  font-weight: bold;
}

.InnerCard_SubLabel{
  line-height: 10px;
    font-size: 10px;
    color: rgb(155, 155, 155);
}

form.commentwrite{
  position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
    height: 100%;
    display: none;
}

div.backdrop{
  position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

div.wrap{
  position: relative;
    top: 50%;
    left: 50%;
    z-index: 13;
    box-sizing: border-box;
    padding: 16px 0;
    border-radius: 3px;
    width: 100%;
    max-width: 440px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    height: 24%;
}

p.profile{
  display: inline-block;
  margin: 0 0 16px 16px;
  padding-left: 28px;
  line-height: 20px;
  color: #4c4c4c;
  font-size: 13px;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
}

textarea{
  box-sizing: border-box;
    margin-bottom: 16px;
    padding: 0 16px;
    width: 100%;
    height: 96px;
    line-height: 24px;
    color: #292929;
    font-size: 16px;
    -moz-appearance: none;
    appearance: none;
    letter-spacing: -0.5px;
    resize: none;
    border: none;
}

.submit{
  margin-right: 16px;
    border: 1px solid rgba(0,0,0,0);
    color: #fff;
    background-color: rgb(51, 151, 255);
}

.cancel{
  margin-right: 8px;
    border: 1px solid #d6d6d6;
    color: #737373;
    background-color: #fff;
}

input.cancel,
input.submit{
  float: right;
    padding: 0 16px;
    border-radius: 18px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-weight: bold;
}

#lightboxBackdrop{
  padding: 0;
  background-color: rgba(0,0,0,.9);
  display: flex;
  justify-content: center;
  align-items: center
}

.container{
  -webkit-box-align: center;
  -webkit-box-pack: center;
  box-sizing: border-box;
  left: 0px;
  position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2001;
    background: rgba(0, 0, 0, 0.8);
}

.content{
  position: relative !important;
}

#lightboxBackdrop>div button[class^=arrow_] {
  width: 50px;
  height: 50px;
  position: relative;
  top: calc(50% + 34px);
}

#lightboxBackdrop>div div[class^=header] {
  display: inline-block;
  position: fixed;
  left: 20px;
  right: 0;
  top: 54px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  z-index: 99;
  -webkit-box-pack: justify;
  height: 40px;
}

.figure{
  margin: 0px !important;
}

.spinner{
  position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    opacity: 0 !important;
    transition: opacity 0.3s !important;
    pointer-events: none !important;
}

#lightboxBackdrop>div div[class^=footer] {
  position: fixed;
  top: 54px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
}

.image_web_Loaded{
  max-height: none !important;
    width: 100%;
}

.footerCount{
  color: #fff;
    padding: 0;
}

element.style{
  margin-bottom: 0px;
  max-width: 1024px;
;
}

figure{
  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    display: block;
}

.image_web_Loaded{
  display: block !important;
    height: auto !important;
    margin: 0 auto !important;
    max-width: 100% !important;
    user-select: none !important;
    opacity: 1 !important;
    transition: opacity 0.3s !important;
    max-height: none !important;
}

*, ::before, ::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

svg:not(:root) {
  overflow: hidden;
}

element.style {
  width: 100%;
  height: 100%;
  transform: translate3d(0px, 0px, 0px);
  content-visibility: visible;
}

svg{
  fill: currentColor;
  vertical-align: middle;
}

#lightboxBackdrop{
  display: none;
}