header.Header-Mobile {
    width: 100%;
    border-bottom: none;
    z-index: 300;
}

div.MainNavMenuWrapper-Mobile {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 768px;
    width: 100%;
}

div.MainNavLeft-Mobile {
    display: flex;
    width: 100%;
}

div.MainNavSearch-Mobile {
    height: 60px;
    width: 100%;
    padding: 11px 20px;
}

.BottomBar-Wrapper {
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: calc(56px + env(safe-area-inset-bottom));
    padding-bottom: env(safe-area-inset-bottom);
    z-index: 900;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(244, 244, 244);
}

.BottomBar-A {
    min-height: 1px;
}

.BottomBar-Menu {
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.3px;
    color: rgb(204, 204, 204);
}

.BottomBar-Selected {
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.3px;
    color: rgb(106, 29, 227);
}

.BottomBar-Menu img, .BottomBar-Selected img {
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
}

